[Unit]
Description=Fan control daemon for Apple MacBooks
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/macfanctld
Restart=always

[Install]
WantedBy=multi-user.target

